<div class="container">
  <!-- Search form -->
  <%= render partial: "search/form" %>
  <!-- Filter days -->
  <div class="d-flex">
    <h1>Earnings</h1>
    <%= render "/shared/filter_days", current_path: request.path, days: @days%>
    <!-- Datepicker -->
    <%= render "/shared/date_picker" %>
  </div>
  <!-- List of incomes -->
  <div class="mt-2" >
    <%= render "index_incomes", incomes: @incomes %>
  </div>
</div>
