<% if days %>
  <% incomes_data = current_user.incomes.where(date: days.days.ago..Date.today).group_by_day(:date, format: "%b %e").sum(:value)%>
  <% expenses_data = current_user.expenses.where(date: days.days.ago..Date.today).group_by_day(:date, format: "%b %e").sum(:value)%>
  <% expenses = current_user.expenses.where(date: days.days.ago..Date.today).group(:category).sum(:value)%>
<% else %>
  <% incomes_data = current_user.incomes.where(date: Date.today - 365..Date.today).group_by_month(:date, format: "%b %Y").sum(:value)%>
  <% expenses_data = current_user.expenses.where(date: Date.today - 365..Date.today).group_by_month(:date, format: "%b %Y").sum(:value)%>
  <% expenses = current_user.expenses.where(date: Date.today - 365..Date.today).group(:category).sum(:value)%>
<% end %>
<!-- First Row -->
<div class="card-dashboard border">
  <h5>Income and expenses by period</h5>
  <%= column_chart [
      { name: 'Expenses', data: expenses_data},
      { name: 'Income', data: incomes_data}
    ], stacked: false, colors: ["AB1B1B", "#4065c5"] %>
</div>
<div class="card-dashboard border">
  <h5>Expenses by categories</h5>
  <%= pie_chart expenses %>
</div>
<div class="card-dashboard border">
  <h5>Ranking of expenses</h5>
  <%= bar_chart expenses.sort_by{|k,v| v}.reverse, loading: "Loading...", empty: "No data", colors: ["#4065c5"] %>
</div>
