<div class="container mt-3 mb-5 py-3 rounded-4" style="background-color: #f4f4f4" data-controller="g-chart">
  <h1>Your finances by year</h1>
  <div id="combo-chart" style= "height: 500px;" data-g-chart-target="chart" data-info="<%= [@earnigns_by_month, @expenses_by_month ] %>"></div>
  <div id="table" data-g-chart-target="table" ></div>
</div>
